header h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
}

.content {
    display:flex;
    justify-content: space-between;
    height:100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:0.8rem;
}

.projectSection{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
}

.filterSection{
    background-color: rgb(236, 227, 227);
    padding: 2rem;
    height: 40%;
}


footer {
    bottom:0;
}

svg {
    width:0.8rem;
    height:auto;
    margin:0
}